{% extends "base.html" %}

{% block body %}

<div class="container">
    <h2>Withdraw</h2>
    <hr>
    <form action="/withdraw" method="post">
        <div class="mb-3">
            <label for="withdrawAmount" class="form-label">Withdraw amount</label>
            <input type="text" name="withdraw" class="form-control" id="withdrawAmount" aria-describedby="withdrawHelp">
        </div>
        <button type="submit" class="btn btn-primary">Ok</button>
    </form>
</div>
{% endblock %}


